<div class="row">
	<div class="eight columns">
		<h1><%= t :create_new_treatment %></h1>

		<%= render 'form' %>
	</div>
	
	<div class="four columns">		
		<div class="panel">	
			<ul>
				<li><%=link_to t(:return_to_listing), treatments_url, "data-icon" => "<" %></li>
			</ul>
		</div>
	</div>
</div>