<div class="list-group list-group-flush list-group-hoverable">
  <% notes.each do |note| %>
    <%= render :partial => "notes/show", :locals => {:note => note, :noteable => noteable}%>
  <% end %>
</div>

<script>
	$(document).ready(function() {
		$(".comment").on("mouseenter", ".alert-dismissable",
			function() {
		    	$(this).find("a.close").show();
		  	});
		$(".comment").on("mouseleave", ".alert-dismissable",
			function() {
				$(this).find("a.close").hide();
		  	}
		);
	});
</script>
