<%= form_tag([noteable, Note.new], :method => :post, :remote => true) do %>
	<fieldset>
	  <legend><%= t(:chart_notes)%></legend>
		<p>
		    <%= text_area_tag "note[notes]", nil, {:rows => 2, :placeholder => t(:notes_about_this, class_name: noteable.class) }  %>
		</p>
	</fieldset>
	
	<%= submit_tag( t(:annotate), :class => "button nice white", :disable_with => t(:please_wait)) %>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {		
		// Limit the notes
		$('#note_notes').limit('500');
	});	
</script>
