<% form_tag([noteable, Note.new], :method => :post, :remote => true) do %>
	<p>
	    <%= text_area_tag "note[notes]", nil, {:rows => 2, :placeholder => _("Type something related to this #{noteable.class}"), :title => _("Type something related to this #{noteable.class}")}  %>
	</p>
	<div id="toolbar">
		<%= submit_tag(_("Annotate"), :class => "g-button action", :disable_with => _("Please wait...")) %>
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {		
		// Limit the notes
		$('#note_notes').limit('500');
	});	
</script>
