<% title = local_assigns[:title].presence %>
<% description = local_assigns[:description].presence %>
<% image_name = local_assigns[:image_name].presence %>
<% action = yield.presence %>

<div class="empty">
  <%# if image_name.present? %>
    <div class="empty-img">  
      <%= image_tag image_name %>   
    </div>
  <%# end %>
  <p class="empty-title"><%= title %></p>
  <p class="empty-subtitle text-muted">
  <%= description %>
  </p>

  <% if action.present? %>
    <div class="empty-action">
      <%= action %>
    </div>
  <% end %>
</div>