<%= form_tag password_reset_path, method: :put, class: "card card-md" do %>
  <div class="card-body">
    <p class="text-muted mb-4"><%= t :password_update_instructions %></p>

    <div class="mb-3">
      <%= password_field_tag :password, nil, :placeholder => t(:password), :class => "form-control" %>
    </div>
  
    <div class="form-footer">
      <%= submit_tag( t(:update_password), :class => "btn btn-primary w-100") %>
    </div>
  </div>
<% end %>