<%= link_to (image_tag_with_at2x "logofull.png", :title => t(:home), :class => "logo"), root_path %>

<div class="box">
    <div class="content-wrap">
		<% form_tag password_reset_path, :method => :put do %>
			<p><%= t :password_update_instructions %></p>

			<p><%= password_field_tag :password, :class => "form-control" %></p>
			
			<%= submit_tag( t(:update_password), :class => "btn btn-primary login") %>

        <% end %>
    </div>
</div>