<%= form_tag password_resets_path, class: "card card-md" do %>
  <div class="card-body">
    <p class="text-muted mb-4"><%= t :password_reset_instructions %></p>
    
    <div class="mb-3">
      <%= text_field_tag :email, nil, :placeholder => t(:email), :autocapitalize => "off", :autocorrect => "off", :class => "form-control" %>
    </div>

    <div class="form-footer">
      <%= submit_tag( t(:reset_password), :class => "btn btn-primary w-100") %>
    </div>
  </div>
<% end %>