.bundle
db/*.sqlite3
db/*.sqlite3-journal
log/*
!/log/.keep
tmp/**/*
ssl-cert
.sass-cache/
.redis
.postgres

# Bundler

# files from using dev?
/vendor/bundle/*
/vendor/cache/*

# files created by running the specs
/tmp/

# gems built by `rake build`
/pkg/

# output from ronn
/lib/bundler/man/
man/*
!man/*.ronn

# rspec failure tracking
.rspec_status

# files generated during packaging
/lib/bundler/generated/