* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
	list-style: none;
}

body {
	background: rgb(128, 139, 157);
	color: rgb(0, 0, 0);
	font: 14px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
}

/* @group HTML5 fallbacks */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section, sidebar, nav {
  display: block;
}
/* @end */


table.balance {
	width: 100%;
}
	table.balance tbody td {
		padding: 5px;
		border-bottom: 1px solid #cecece;
	}

h1 {
	-webkit-box-shadow: 
		inset 0 1px 0 rgba(255, 255, 255, 0.6);
	-moz-box-shadow: 
		inset 0 1px 0 rgba(255, 255, 255, 0.6);
	background: 
		-webkit-gradient(
			linear,
			0% 0%,
			0% 100%,
			from(#eee),
			to(#ccc)
		);
	background: 
		-moz-linear-gradient(
			top,
			#eee,
			#ccc
		);
	padding: 0 20px;
	line-height: 48px;
	border-bottom: 1px solid #999;
	color: #333;
	font-size: 14px;
	border-radius: 5px 5px 0 0;
	font-weight: 500;
}

h1 a {
	float: right;
	margin-top: 12px;
	font-size: 14px;
	font-weight: normal;
	vertical-align: middle;
	padding: 1px 10px !important;
}

h2 {
	margin: 0.43em 0px;	
}
	h2 a {
		text-decoration: underline !important;
	}
	
big {
	font-size: 30px;
}

hr {
	margin: 20px 0;
	border: 0;
	height: 1px;
	background: #c1c1c1;
}

p {
	margin-bottom: 15px;
}

a {
	color: rgb(48, 168, 217);
}

/* @group Header */

header nav {
	display: block;
	float: right;
}

header {
	clear: both;
	margin-top: 30px;
	-webkit-box-shadow: 
		0 0 2px 1px rgba(0, 0, 0, 0.25),
		inset 0 1px 0 rgba(255, 255, 255, 0.6);
	-moz-box-shadow: 
		0 0 2px 1px rgba(0, 0, 0, 0.25),
		inset 0 1px 0 rgba(255, 255, 255, 0.6);
	background: 
		-webkit-gradient(
			linear,
			0% 0%,
			0% 100%,
			from(#eee),
			to(#ccc)
		);
	background: 
		-moz-linear-gradient(
			top,
			#eee,
			#ccc
		);
	padding: 10px 20px;
	color: #333;
	font-size: 14px;
	border-radius: 5px;
	font-weight: 500;
}

	header ul, #search-box {
		float: left;
	}
	
		header ul li {
			display: inline-block;
			margin: 2px 5px 0;
		}
	
			header ul li a {
				-webkit-box-shadow: 
					inset 0 0 0 1px rgb(100, 100, 100),
					inset 0 2px 0 rgba(255, 255, 255, 0.35),
					inset 0 0 0 2px rgba(255, 255, 255, 0.1);	
				-moz-box-shadow: 
					inset 0 0 0 1px rgb(100, 100, 100),
					inset 0 2px 0 rgba(255, 255, 255, 0.35),
					inset 0 0 0 2px rgba(255, 255, 255, 0.1);	
				background: 
					-webkit-gradient(
						linear,
						0% 0%,
						0% 100%,
						from(rgba(255, 255, 255, 0.5)),
						color-stop(0.6, rgba(255, 255, 255, 0.1)),
						to(rgba(255, 255, 255, 0))
					);
				background: 
					-moz-linear-gradient(
						top,
						rgba(255, 255, 255, 0.5),
						rgba(255, 255, 255, 0)
					);
				border-radius: 5px;
				font: bold 12px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
				padding: 4px 10px;
				text-decoration: none;
			}
	
	header input[type=search], header {
		line-height: 18px;
		margin: 2px 0;
	}

#search-box {
	margin: 0 10px;
}

#search-box input {
	width: 180px;
}

.logo {
	margin-top: 3px;
}

/* @end */

/* @group Containers */
#container {
	margin: 20px auto;
	text-shadow: 0 1px 0 rgb(240, 240, 240);
	width: 90%;
}

.bodycontent {
	float: left;
	width: 60%;
}
.sidecontent {
	float: right;
	width: 40%;
}
#content {
	-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
	background-color: rgb(240, 240, 240);
	background:  
		-webkit-gradient(
			linear,
			0% 0%,
			0% 100%,
			from(rgb(240, 240, 240)),
			to(rgb(220, 220, 220))
		);
	background: -moz-linear-gradient(top, rgb(240, 240, 240), rgb(220, 220, 220));
	border-radius: 5px;
	clear: both;
	margin-top: 30px;
}
/* @end */

/* @group Footer */
footer {
	clear: both;
	height: 50px;
	margin: 10px auto;
	text-align: right;
	font-size: 11px;
	color: #ccc;
	text-shadow: none;
}
	footer a {
		color: rgb(98, 109, 127);
		text-decoration: none;
	}
/* @end */

/* @group List items */
#list-items li {
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	background: 
		-webkit-gradient(
			linear,
			0% 0%,
			0% 100%,
			from(rgba(255, 255, 255, 0.05)),
			to(rgba(0, 0, 0, 0.05))
		);
	border-bottom: 1px solid #bbb;
	display: block;
	padding: 10px;
}

#list-items li:last-child {
	margin-bottom: 0;
	border-bottom: 0;
}

#list-items li:hover {
	background-color: #ccc;
}

#list-items li:hover div {
	display: block;
}

li h2 {
	margin-bottom: 10px;
}

li h2 a {
	color: #333;
	font-size: 18px;
	text-decoration: none;
}
	
.list-item-button {
	float:right; 
	margin-top:-20px;
	margin-left: 5px;
	display: none;
	opacity: 1.0 !important;
}

.list-item {
	float:right; 
	margin-top:-20px;
	margin-left: 5px;
	padding: 5px;
}
	.list-item form {
		padding: 0 !important;
	}

#list-items .ui-selecting { background: #00cff6; }
#list-items .ui-selected { background: #dadada; color: black; }

#list-items .checked { text-decoration: line-through; }

.disabled-list {
	opacity: 0.6;
	background-color: #999 !important;
	-webkit-box-shadow: inset 0 0 5px #666 !important;
	-moz-box-shadow: inset 0 0 5px #666 !important;
	box-shadow: inner 0 0 5px #666;
}

.invalid-list {
	background: #ffeded !important;
}
/* @end */


/* @group Utilities */

.hidden {
	display: none;
}

.clear {
	clear: both;
}

#toolbar {
	margin-bottom: 20px;
	line-height: 30px;
	border-top: 1px solid #bbb;
	padding: 5px 10px;
}
	#toolbar form {
		padding: 0 !important;
	}

/* @end */

/* @group Datebook */
.fc-widget-content {
	background: #fff;
}
/* @end */

/* @group Notes */
.note {
	background: rgb(253, 242, 149);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(254, 244, 156)), to(rgb(253, 242, 149)));
    background-color: rgb;
    -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}
.note:hover .delete {
    display: block;
} 

.note > .delete {
    display: none;
    height: 30px;
    position: absolute;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
}
.note > .content {
	padding: 10px;
	font-family: "Marker Felt";
	font-size: 18px;
}
.note > .timestamp {
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 10px;
    background-color: #feea3d;
    border-bottom: 1px solid #bca902;
    padding: 2px 4px;
    text-align: right;
}
	
/* @end */

/* @group Patients */
	
	/* @group Balance */
		#balance {
			font-size: 120%;
			margin: 0px auto;
			display: block;
		}
	/* @end */
	
	/* @group Chart */
		#chart {
			padding: 0 10px !important;
		}
			#chart form {
				padding: 0 !important;
			}
			#chart h1 {
				background: none;
				border: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				padding: 10px 0 0 0;
			}
	/* @end */
	
	/* @group Treatments */
		#progressbar {
			margin: 10px 0;
			border: 1px solid #ccc !important;
		}
	/* @end */
	
/* @end */

/* @group G buttons */
input, button, select {
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type=checkbox] {
	-webkit-appearance: checkbox;
}

.g-button {
	-webkit-box-shadow: 
		inset 0 0 0 1px rgb(100, 100, 100),
		inset 0 2px 0 rgba(255, 255, 255, 0.35),
		inset 0 0 0 2px rgba(255, 255, 255, 0.1);
	-moz-box-shadow:
		inset 0 0 0 1px rgb(100, 100, 100),
		inset 0 2px 0 rgba(255, 255, 255, 0.35),
		inset 0 0 0 2px rgba(255, 255, 255, 0.1);
	background: 
		-webkit-gradient(
			linear,
			0% 0%,
			0% 100%,
			from(rgba(255, 255, 255, 0.5)),
			color-stop(0.6, rgba(255, 255, 255, 0.1)),
			to(rgba(255, 255, 255, 0))
		);
	background: 
		-moz-linear-gradient(
			top,
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0)
		);
	border-radius: 5px;
	font: bold 12px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 0 10px;
	text-decoration: none;
}

a.g-button {
	padding: 5px 10px;
}

.g-button.red {
	-webkit-box-shadow: 
		inset 0 0 0 1px #87080d,
		inset 0 2px 0 rgba(255, 255, 255, 0.35),
		inset 0 0 0 2px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 
		inset 0 0 0 1px #87080d,
		inset 0 2px 0 rgba(255, 255, 255, 0.35),
		inset 0 0 0 2px rgba(255, 255, 255, 0.1);	
	background-color: rgb(180, 0, 0);
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}

.g-button.red:hover {
	background-color: rgb(170, 0, 0);
}

.g-button.red:active {
	background-color: rgb(160, 0, 0);
}

.g-button.green {
	border-color: rgb(51,103,22) !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(205,238,179)), to(rgb(163,202,131))) !important;
	background: -moz-linear-gradient(center bottom,rgb(163,202,52),rgb(250,238,179)) !important;
	color: #336716 !important;
	text-shadow: none;
}

.pp_subscribe_button {
	right: 0;
	position: relative;
	top: -14px;
	float: right;
}

.pp_subscribe_button .g-button.green{
	font-size: 14px !important;
}

.action {
	background-color: rgb(48, 168, 217);
	color: rgb(255, 255, 255);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}

.action:hover {
	background-color: rgb(38, 158, 207);
}

.action:active {
	background-color: rgb(28, 148, 197);
}

.dark {
	background-color: rgb(140, 140, 140);
	color: rgb(255, 255, 255);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}

.dark:hover {
	background-color: rgb(130, 130, 130);
}

.dark:active {
	background-color: rgb(120, 120, 120);
}

.light {
	background-color: rgb(200, 200, 200);
	color: rgb(80, 80, 80);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.light:hover {
	background-color: rgb(190, 190, 190);
}

.light:active {
	background-color: rgb(180, 180, 180);
}

/* @end */

/* @group Forms */
form {
	padding: 10px;
}
	form #toolbar {
		padding: 5px 0;
	}

textarea {
	width: 98%;
	min-height: 70px;
}


input[type=text], input[type=tel], input[type=email], input[type=number], input[type="password"], textarea  {
	-webkit-box-shadow: 
		inset 0 0 0 1px #5e5e5e,
		inset 0 2px 2px rgba(0, 0, 0, 0.4),
		0 1px 0 rgba(255, 255, 255, 0.35);
	-moz-box-shadow: 
		inset 0 0 0 1px #5e5e5e,
		inset 0 2px 2px rgba(0, 0, 0, 0.4),
		0 1px 0 rgba(255, 255, 255, 0.35);
	background: rgb(255, 255, 255);
	border-radius: 3px;
	color: rgb(20, 20, 20);
	display: block;
	font: 11px/16px 'Lucida Grande', sans-serif;
	margin-bottom: 15px;
	padding: 2px 10px;
	width: 98%;
	height: 25px;
}

input[type=search] {
	-webkit-box-shadow: 
		inset 0 0 0 1px rgba(0, 0, 0, 0.4),
		inset 0 2px 2px rgba(0, 0, 0, 0.4),
		0 1px 0 rgba(255, 255, 255, 0.35);
	-moz-box-shadow: 
		inset 0 0 0 1px rgba(0, 0, 0, 0.4),
		inset 0 2px 2px rgba(0, 0, 0, 0.4),
		0 1px 0 rgba(255, 255, 255, 0.35);
	background: rgb(255, 255, 255);
	border-radius: 30px;
	color: rgb(20, 20, 20);
	display: block;
	font: 11px/16px 'Lucida Grande', sans-serif;
	padding: 2px 0;
}

input[type=search]::-webkit-search-results-decoration {
	margin-right: 4px;
}

input[type=search]::-webkit-search-cancel-button {
	margin-left: 4px;
}

select {
	-webkit-box-shadow: 
		inset 0 0 0 1px rgb(100, 100, 100),
		inset 0 2px 0 rgba(255, 255, 255, 0.35),
		inset 0 0 0 2px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 
		inset 0 0 0 1px rgb(100, 100, 100),
		inset 0 2px 0 rgba(255, 255, 255, 0.35),
		inset 0 0 0 2px rgba(255, 255, 255, 0.1);	
	background-position: right center, left top;
	background-repeat: no-repeat, repeat-x;
	background-image:
		url('/images/icons/arrow.png'),
		-webkit-gradient(
			linear,
			0% 0%,
			0% 100%,
			from(rgba(255, 255, 255, 0.5)),
			color-stop(0.6, rgba(255, 255, 255, 0.1)),
			to(rgba(255, 255, 255, 0))
		);
	background-color: rgb(200, 200, 200);
	border-radius: 5px;
	color: rgb(80, 80, 80);
	font: bold 12px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 0 40px 0 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}


fieldset {
	border: none;
	padding: 15px 0;
}

legend {
	font-size: 22px;
}

label {
	color: #666;
}

.error_field, .field_with_errors input, .field_with_errors textarea {
	color: #ff0000;
	background-color: #ffeded;
}

input[disabled] {
	opacity: .5;
}

.required {
	background: url('/images/icons/required.gif') right center no-repeat #fff;
}

sub {
	color: #999;
	text-shadow: 0 1px 0 rgb(240, 240, 240);
	font-size: 12px;
	margin-top: -10px;
	margin-bottom: 15px;
	display: block;
}
/* @end */

/* @group UI widgets */
#modal_dialog {
	background: #fff;
}

/* @end */

/* @group Flash messages */
.notice, .info, .success, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 30px;
}
.info {
    color: #00529B;
    background: none;
    border: none;
    color: #999;
}
.notice, .success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.error, .alert {
    color: #D8000C;
    background-color: #FFBABA;
}
/* @end */

/* @group Pagination */
.pagination {
	border:0; margin:0; padding:0;
}
.pagination li {
	border:0; margin:0; padding:0;
	list-style:none;
	margin-right:4px;
	display:block;
	float:left;
}
.pagination li:last-child {	
	clear: right !important;
}
.pagination a {
	
}
.pagination .previous-off, .pagination .next-off {
	border:solid 1px #DEDEDE;
	color:#888888;
	display:block;
	float:left;
	font-weight:bold;
	margin-right:2px;
}
.pagination .next a, .pagination .previous a {
	font-weight:bold;
} 
.pagination li.active{
	background:#2e6ab1;
	display:block;
	float:left;
}

.pagination li.active a{
	color:#FFFFFF;
	font-weight:bold;
}

.pagination a:link, .pagination a:visited {
	color:#0e509e;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
}

.pagination span {
	color:#333;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
}

.pagination a:hover{
	font-weight: bold;
}
/* @end */

/* @group Overwrites */
.ui-tabs { 
	border: 0px !important;
}
.ui-tabs-panel {
	padding: 1em 0 !important;
}
.fc-event, fc-button {
	text-shadow: none;
}
#calendar {
	padding: 10px;
}
/* @end */