body {
	background: #222 url("../images/dark_leather.png");
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #555;
	-webkit-font-smoothing: antialiased;
}

#container {
	width: 350px;
	height: 340px;
	margin: 60px auto;
	top: 35%;
	left: 50%;
	background: url(/images/logofull.png) top center no-repeat;
	padding-top: 50px;
}

#content {
	-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-reflect:below 2px
		-webkit-gradient(
			linear,
			0% 0%,
			0% 100%,
			from(rgba(0, 0, 0, 0)),
			color-stop(0.3, rgba(0, 0, 0, 0)),
			to(rgba(0, 0, 0, .3))
		);
	background-color: rgb(240, 240, 240);
	background: -webkit-gradient(
			linear,
			0% 0%,
			0% 100%,
			from(rgb(240, 240, 240)),
			to(rgb(220, 220, 220))
		);
	background: -moz-linear-gradient(top, rgb(240, 240, 240), rgb(220, 220, 220));
		
	border-radius: 5px;
	text-shadow: 0 1px 0 rgb(240, 240, 240);
	margin-top: 20px;
	padding: 20px;
}

input[type="text"],input[type="email"],input[type="password"] {
	width: 300px;
}

.logo {
	display: block;
	margin: 0 auto;
}

#register_agreenment {
	font-size:12px;
	line-height:1.2em;
	margin: 10px 0 0 0;
	color:#666;
}