<div id="pad-wrapper" class="new-user">
    <div class="row header">
        <div class="col-md-12">
            <h3><%= t :create_new_user %></h3>
        </div>                
    </div>

    <div class="row form-wrapper">
        <!-- left column -->
        <div class="col-md-9 with-sidebar">
            <%= render 'form' %>
        </div>

        <!-- side right column -->
        <div class="col-md-3 form-sidebar">                       
            <h6><%= t :for_your_information %></h6>
            
            <%= raw t "instructions.users".html_safe %>
        </div>
    </div>
</div>  