<!-- <div id="pad-wrapper">
    <div class="row">
        <div class="col-md-12">
            <% if @user.subscribed_to_digest %>
              <h3><%= t :you_are_subscribed_again %></h3>
            <% else %>
              <h3><%= t :you_are_unsubscribed %></h3>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <% if @user.subscribed_to_digest %>
            <p>You have chosen to receive daily digests from us. We are glad to have you back.</p>
          <% else %>
            <p>You won't receive more daily digests from us. Didn't mean to do this? <%= link_to t(:subscribe_again), :undo => true %>.</p>
          <% end %>
        </div>
    </div>

</div> -->
