<% if target.errors.any? %>
	<div class="alert-box error">
		<ul>
		<% target.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		<a href="" class="close">&times;</a>
	</div>
<% end %>