<% flash.each do |key, msg|
	case key
		when "notice" then key = "success"
		when "error" then key = "danger"
		when "alert" then key = "warning"
		when "info" then key = "info"
  end %>

  <%# FIXME: remove `flash-message` when the migration is complete. %>
	<div class="flash-message alert alert-<%= key %>" role="alert">
		<div class="text-muted"><%= msg %></div>
	</div>
<% end %>