<div class="container">
	<footer class="row">
		<div class="twelve columns">
			<%= link_to t(:terms_of_service), "/terms", :target => "_blank" %> · <%= link_to t(:privacy_policy), "/privacy", :target => "_blank" %> · <%= link_to t(:contact_us), "mailto:hello@odonto.me", :target => "_blank" %>
		</div>
	</footer>
</div>

