<div class="container">
	<footer class="row">
		<div class="twelve columns">
			<%= link_to _('Terms of Service'), "/terms", :target => "_blank" %> · <%= link_to _('Privacy Policy'), "/privacy", :target => "_blank" %> · <%= link_to _('Contact us'), "mailto:hello@odonto.me", :target => "_blank" %>
		</div>
	</footer>
</div>

