<%# frozen_string_literal: true %>
<% if impersonating? %>
    <div class="impersonation-banner" role="alert">
        You are impersonating <%= current_user.practice.name %> (read-only mode)
    </div>
<% end %>