<h1>Política de Privacidad</h1>
<div id="main_text">
	<p>Odonto.me mantendrá la privacidad y confidencialidad de toda tipo de datos. No se compartirán ni comercializarán ninguna información que pueda identificar a los clientes o sus pacientes bajo ninguna circunstancia.</p>

	<p>Ya que Odonto.me provee un servicio basado en almacenamiento de la data en internet de comunicación entre pacientes y las clínicas dentales hemos contratado a proveedores de hospedaje que aseguran el mejor servicio posible del mercado para lograr una comunicación ininterrumpida en el proceso del manejo de pacientes.</p>

	<p>No compartiremos su información de ningún tipo con mercadólogos fuera del departamento de mercadeo de Odonto.me, o de sus departamento de diseño de interface y de desarrollo de aplicaciones.</p>

	<p>En ningún caso y bajo ninguna circunstancia venderemos, alquilaremos o compartiremos su información personal o de su empresa en ningún momento.</p>
</div>
