<h1>Privacy Policy</h1>
<div id="main_text">
	<p>Odonto.me will maintain the privacy and confidentiality of all data. It will not share personally identifiable information under any circumstances.</p>

	<p>Because Odonto.me provides a service for cloud, web and mobile-based communication between the patient and dentists, we ask hosting providers for the best service it needs in order to streamline communication and the processing of patient requests.</p>

	<p>We will not share your data and information with marketers outside Odonto.me marketing department, interface design department or application development department.</p>

	<p>We will not rent, sell, share your personal information at any time. </p>
</div>
