<h1>Terms of Service</h1>
<div id="main_text">

	<p>This User Agreement ("Agreement") is between you and Odonto.me. Your rights and obligations under this Agreement and in using this site are not assignable. Your use and access of the Odonto.me web site constitutes your acceptance, without modification, of the terms, conditions and notices contained herein. In addition, when using particular Odonto.me services, you shall be subject to any posted guidelines, rules, and policies applicable to such services that may be posted from time to time. All such guidelines, rules, and policies are hereby incorporated by reference into this Agreement.</p>

	<p>By using the Odonto.me platform, YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT AND THAT YOU ACCEPT THE TERMS THEREOF. Please read the following terms carefully. If you do not agree to the terms and conditions of this Agreement, you may not access, view, obtain goods or services from, or otherwise use the Odonto.me web site application.</p>

	<p>1. You agree to the terms and conditions of the Odonto.me Privacy Policy.</p>
	<p>2. You are responsible for regularly reviewing this User Agreement. Odonto.me reserves the right, at its sole discretion, to change, modify, add, remove or terminate any portion of this Agreement, in whole or in part, at any time, without prior notice, however, we will send you and email every time the agreement suffer a modification.</p>
	<p>3. This Agreement and our Privacy Policy contain the entire agreement between you and Odonto.me with respect to this site. It supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and Odonto.me with respect to this site. Any rights not expressly granted herein are reserved.</p>

	<h2>Private Beta</h2>
	<p></p>
	<p>This service is currently in a private beta for you evaluation with a limit of 200 patients. This limit might or might not be increased when the service Odonto.me becomes public. When Odonto.me becomes public your account and data will be preserved and you'll be automatically enrolled in our Free Plan</p>

	<h2>Security</h2>
	<p></p>
	<p>Odonto.me acts as a trusted confidential application service dedicated to provide a secure Internet and mobile service.</p>

	<p>Odonto.me employs a high level of security. The overall priorities of Odonto.me as an organization are to ensure security and be fully compliant with all high standards and regulations. Access, integrity, availability, ownership, authorization, dependability, authentication, and confidentiality are all major considerations within the Odonto.me Security Policy. </p>

	<p>Odonto.me upholds its stringent Security Policy with the following security measures: </p>

	<p><span class="underline">Role-Based Usage</span> Odonto.me grants varying degrees of access to users with different levels of authority within a dentist practice. </p>

	<p><span class="underline">Encryption</span> All communication between you and the Odonto.me server during login and register process is secured by using SSL encryption.</p>

	<p><span class="underline">Data Security</span> Odonto.me takes all measures to secure your data on our server’s providers. Servers are isolated from the Internet by using a firewall, which is a hardware and software system that blocks access by unauthorized parties. </p>

	<p><span class="underline">Confidentiality</span> Odonto.me has internal policies that keep your data private and confidential. We will not share your data with any third party. Your data is yours only.  </p>

	<p><span class="underline">Login ID and Password</span> Access to your account is controlled by a login ID and a password, which you chose. Strict login ID and password rules virtually eliminate the unauthorized user from gaining access. We do NOT store a plain text version of your password. Your password is stored using a one-way hash key and verified using the same one-way hash every time you login, which means no one at Odonto.me knows what password you have chosen. If you ever forget your password, we force you to choose a new one using an email verification check. Odonto.me will not be responsible of any unauthorized access to your patients’ data from third parties whenever it comes from a password leakage. Use passwords difficult to guess and do not write them down.</p>

	<p><span class="underline">Digital Certificates</span> Odonto.me uses a digital certificate that gives you the confidence that you are connected to a site operated by Odonto.me, and authenticated as such. </p>

	<p><span class="underline">Sensitive Information</span> Odonto.me handles all your health information with respect to its confidentiality and privacy. </p>

	<p><span class="underline">Data Integrity</span> Odonto.me employs the latest products and technology to ensure data is always available and access to the site continues without interruption. </p>

	<p><span class="underline">Storage and Maintenance of Information</span> For more information regarding the data storage please contact Odonto.me via support@odonto.me</p>

	<p><span class="underline">Firewall</span> We take all reasonable measures to secure your data on our data hosting provider’s servers. Data center is both physically and electronically secured. Servers are protected behind the Internet by using a firewall which system that blocks access by unauthorized parties. </p>

	<p><span class="underline">What can I do to protect my Privacy?</span> In order to protect your privacy while using Odonto.me, you can:</p>
	<p>	
		•	Never share you sign in name or password.<br />
		•	Always sign out when you are finished using the service.<br />
		•	Choose a strong password that consists of upper and lower case letters and numbers.<br />
		•	Promptly install all security and software updates for our iPhone app and for your browser.<br />
	</p>
	
	<p><span class="underline">Odonto.me changes and upgrades</span> In order to optimize our service, the application will be in permanent upgrade and optimization to answer user and performance needs. Changes will be made to the app and will be installed without any previous notifice.</p>

	<h2>Cancellation Policy</h2>
	<p></p>
	<p>Although we would hate to see you go, you can cancel your account at any time. 
	</p>

</div>
