<div class="row">
	<div class="eight columns">

		<h1>Acuerdo de uso</h1>

		<p>Este acuerdo de uso ("Acuerdo") es entre usted y Odonto.me. Sus derechos y obligaciones bajo este acuerdo y en el uso de esta página no son asignables. Su uso y acceso a la su cuenta y página de Odonto.me son de su parte exclusivamente, sin modificación de los términos y condiciones contenidos en este documento. Adicionalmente cuando usted usa los servicios de Odonto.me, estará sujeto a cualquier modificación de o información publicada dentro de los medios oficiales. Todas las reglas, lineamientos y políticas son incorporadas como referencia en este acuerdo.</p>
	
		<p>Usando la plataforma de Odonto.me, USTED DEJA CLARO QUE HA LEIDO ESTE ACUERDO Y QUE ACEPTA ESTAS CONDICIONES DE USO. Por favor lea las clausulas del acuerdo a continuación. Si no está de acuerdo con ello, no podrá acceder a la aplicación y por lo tanto a su uso.</p>
	
		<p>1. Usted esta de acuerdo con el acuerdo de uso y sus clausulas, además de la política de privacidad.</p>
		<p>2. Usted es responsable por revisar este acuerdo regularmente. Odonto.me se reserva el derecho de cambiar, modificar o eliminar clausulas del acuerdo, completamente o por partes, en cualquier momento, sin notificación previa, sin embargo le enviaremos una notificación por email cada vez que el acuerdo sufra una modificación.</p>
		<p>3. Este acuerdo y nuestras políticas de privacidad contienen el acuerdo entero entre usted y Odonto.me en referencia a la aplicación. El acuerdo se antepone ante cualquier comunicación previa, oral, vía correo electrónico entre el usuario y Odonto.me con respecto a esta aplicación. Cualquier derecho no expresado en este documento se reservas.</p>
	
		<h2>Seguridad</h2>
	
		<p>Odonto.me actual como una aplicación que presta un servicio confiable dedicado a proveer seguridad en un ambiente de inernet y móvil seguro.</p>
	
		<p>Odonto.me emplea sistemas altos de seguridad. Las prioridades más importantes de Odonto.me como organización son las de asegurar la seguridad en los más altos estándares y regulaciones. Accesibilidad, integridad, viabilidad, pertenencia, autentificación y confidencialidad son consideraciones de alta importancia dentro de nuestra política de seguridad. </p>
	
		<p>Odonto.me basa su política de seguridad en las siguientes medidas: </p>
	
		<p><strong>Usabilidad basada en funciones</strong> Odonto.me asegura diversos tipos de usuarios con diferentes niveles de autorizaciones dentro del módulo de una práctica dental. </p>
	
		<p><strong>Ecriptación</strong> Todas las comunicaciones entre el usuario y el servidor de Odonto.me durante el proceso de registro e identificación esta respaldada por encriptación SSL.</p>
	
		<p><strong>Seguridad en los datos</strong> Odonto.me toma todas las medidas necesarias para que los datos estén seguros en nuestros proveedores de hospedaje. Los servidores están aislados de internet bajo el uso de firewalls. </p>
	
		<p><strong>Condidencialidad</strong> Odonto.me tiene políticas internas que mantienen los datos confidencialmente. No compartiremos los datos con ninguna tercera parte, la data del usuario pertenece únicamente al usuario.</p>
	
		<p><strong>Identificación y contraseña</strong> El acceso a la cuenta está controlado por una identificación y una contraseña que usted elige. Estrictas reglas de identificación eliminan la manera en la que usuarios no identificados puedan acceder. Nosotros NO almacenar una versión de texto de su contraseña. La contraseña se almacena utilizando una clave hash unidireccional y se verifica utilizando el mismo hash de una vía cada vez que se inicia una sesión, lo que significa que nadie en Odonto.me sabe lo que la contraseña que ha elegido. Si alguna vez olvida su contraseña, se le obligará a a elegir una nueva con un control de verificación de correo electrónico. Odonto.me no se hace responsable de cualquier acceso no autorizado a los datos de sus pacientes por parte de terceros siempre que proceda de una fuga contraseña. Utilice contraseñas difíciles de adivinar y no las escriba.</p>
	
		<p><strong>Auto-Logoff</strong> Odonto.me protects you against accidentally leaving your personal information active on a computer browser screen. The Odonto.me service ends your "session" if you are logged in to Odonto.me but have not actively used the service for a set period of time. This prevents others from accessing your account when you leave a session and forget to log out. </p>
	
		<p><strong>Certificados Digitales </strong> Odonto.me utiliza un certificado digital que le da la confianza de que está conectado a un sitio operado por Odonto.me y autentificado como tal.</p>
	
		<p><strong>Información sensible </strong> Odonto.me maneja toda la información delicadamente con respecto a su confidencialidad y privacidad. </p>
	
		<p><strong>Integridad de los datos </strong> Odonto.me emplea lo último en productos y tecnología para asegurar que la información está siempre disponible y el acceso al sitio continúe sin interrupción. </p>
	
		<p><strong>Mantenimiento y almacenamiento de información</strong> Para obtener más información acerca del almacenamiento de datos por favor contáctenos a support@odonto.me</p>
	
		<p><strong>Firewall</strong> Tomamos todas medidas razonables para proteger sus datos en nuestros servidores de alojamiento de datos del proveedor. Nuestro centro de datos es tanto física como electrónica seguro. Los servidores están protegidos utilizando un servidor de seguridad que bloquea el acceso por personas no autorizadas.</p>
	
		<p><strong>¿Cómo puede proteger su privacidad?</strong> Con el fin de proteger su privacidad mientras utiliza Odonto.me, puede:</p>
		<p>	
			•	Nunca comparta su nombre de usuario y contraseña.<br />
			•	Siempre realice un cierre de su sesión una vez haya usado la aplicación.<br />
			•	Utilice una contraseña complicada que implique números y letras.<br />
			•	Manténgase al día con las actualizaciones de sus navegadores y de su aplicación de iPhone.<br />
		</p>
		
		<p><strong>Cambios y Actualizaciones</strong> Con el fin de optimizar nuestro servicio, la aplicación estará en permanente actualización y optimización para responder a las necesidades del usuario y el rendimiento. Los posibles cambios se realizarán a la aplicación y se instalarán sin ningún tipo de notificación.</p>
	
		<h2>Política de cancelación</h2>
	
		<p>A pesar de que no nos gustaría ver que usted se vaya, puede cancelar su cuenta en cualquier momento.</p>
	</div>
</div>
