<tr>
	<td><span class="radius label white"><%=l balance.created_at, :format => :long %></span> <%=balance.notes %></td>			
	<td align="center"><% if (balance.amount < 0)%> <%=balance.amount %> <% end %></td>
	<td align="center"><% if (balance.amount >= 0)%> <%=balance.amount %> <% end %></td>
</tr>