<tr>
	<td><%= l balance.created_at, :format => :long %><br />
	<%= content_tag "sub", balance.notes %></td>
	<td align="center"><% if (balance.amount < 0)%> <%=balance.amount %> <% end %></td>
	<td align="center"><% if (balance.amount >= 0)%> <%=balance.amount %> <% end %></td>
</tr>
