	// <cfsavecontent variable="newTotal">
	// <tr>
	// 	<td></td>
	// 	<td align="center"></td>
	// 	<td align="center"><big>#LSCurrencyFormat(total)#</big></td>
	// </tr>
	// </cfsavecontent>
	// 
	// #pageReplaceHTML(selector="tfoot", content="#newTotal#")#

$("tbody").append("<%=escape_javascript(render :partial => 'show', :locals => {:balance => @balance})%>");

// Clear the fields
$('[type=number],textarea').val("");

// Highlight the new total
// $("tfoot").effect("highlight", {}, 3000);