// Display all the error messages
alert("<%= j item.errors.full_messages.to_sentence %>");

// to hold the form element IDs
var errorIDs = new Array();

// to hold the error messages
var errorMessages = new Array();

// Loop through all the error objects to story as JS objects
<% item.errors.each do |error| %>
  errorIDs.push("#<%= error.base.class.to_s.downcase %>_<%= error.attribute %>");
  errorMessages.push("<%= error.message %>");
<% end %>

$('.invalid-feedback').remove();

// Attach the messages to the error form objects and show some visibles
$.each(errorIDs, function(index, value) {
  $("<div class='invalid-feedback'>" + errorMessages[index] + "</div>").insertAfter(errorIDs[index]);
  $(errorIDs[index]).addClass("is-invalid");
});