<% if @appointments.empty? %>
	<div class="alert-box warning"><%=_("This patient doesn't have any scheduled appointments")%>
	<a href="#" class="close">&times;</a></div>
<% end %>

<ul id="list-items">
	<% @appointments.each do |appointment| %>
		<li>
			<br />
			<p>
				<span class="blue radius label"><%=l appointment.starts_at, :format => :long %></span>
				<span class="white radius label"><%= appointment.doctor.fullname %></span> <br />
				
				<%=appointment.notes%>
			</p>
		</li>
	<% end %>
</ul>

