<div class="row">
	<div class="eight columns">
		<h1><%=_('Editing patient')%> <%=@patient.fullname%></h1>

		<%= render 'form' %>
	</div>
	
	<div class="four columns">		
		<div class="panel">	
			<ul>
				<li><%=link_to _("Return to the listing"), patients_url, "data-icon" => "<" %></li>
			</ul>
		</div>
	</div>
</div>