<div id="pad-wrapper">
    <!-- header -->
    <div class="row">
        <div class="col-md-12 error-page">
        	<h1><%= t "errors.titles.not_found" %></h1>
        	<p><%= t "errors.messages.not_found" %></p>
        </div>
    </div>
</div>