<div id="pad-wrapper">
    <!-- header -->
    <div class="row">
        <div class="col-md-12 error-page">
          <h1><%= t "errors.titles.server_error" %></h1>
          <p><%= t "errors.messages.server_error" %></p>
        </div>
    </div>
</div>