<div class="row">
	<div class="eight columns">

	<h1><%= t :practice_cancellation %></h1>
	
	<p><%= t :practice_cancellation_message %></p>
	
	<%= link_to t(:close_account), practice_close_url, :method => :post, :confirm => t(:are_you_sure_no_undo), :class => "button nice red"%> 
	
	</div>
	
	<div class="four columns">
		<div class="panel">			
			<ul>
				<li><%=link_to t(:go_back), practice_url, "data-icon" => "<" %></li>
			</ul>
		</div>
	</div>
	
</div>