<div id="pad-wrapper" class="users-list">

	<div class="row header col-md-12">
        <h3><%= t :practice_cancellation %></h3>

        <div class="pull-right-lg">            
            <%= link_to t(:close_account), practice_close_url, :method => :post, data: { confirm: t(:are_you_sure_no_undo) }, "class" => "btn-flat danger pull-right" %>
        </div>
    </div>

	<div class="row">
	    <div class="col-md-12">
	        <p><%= t :practice_cancellation_message %></p>
		</div>
	</div>
</div>

