<div class="row">
	<div class="eight columns">
		<h1><%=_('Editing')%> <%=@doctor.fullname%></h1>
		
		<%= render 'form' %>
	</div>
	
	<div class="four columns">
		<div class="panel">			
			<ul>
				<li><%=link_to _("Return to the listing"), doctors_url, "data-icon" => "<" %></li>
			</ul>
		</div>
	</div>
</div>