<div class="row">
	<div class="eight columns">
		<h1><%=@doctor.fullname%></h1>
		
		<%= render 'form' %>
	</div>
	
	<div class="four columns">
		<div class="panel">			
			<ul>
				<li><%=link_to t(:return_to_listing), doctors_url, "data-icon" => "<" %></li>
			</ul>
		</div>
	</div>
</div>