<tr>
  <td class="aligncenter content-block">
    <h1>¡Feliz cumpleaños <%= @patient["firstname"] %>!</h1>
  </td>
</tr>

<tr>
  <td class="aligncenter content-block">
    <%= image_tag "bday-muffin@2x.png", :width => 300 %>
  </td>
</tr>

<tr>
  <td class="content-block">
    Esperemos que hoy pases el mejor cumpleaños de tu vida. Hemos "hecho" este regalo azucarado para ti. No olvides visitarnos de nuevo después de comer tanta azucar :)
  </td>
</tr>

<tr>
  <td class="content-block">
    Esperamos verte pronto,<br />
    <%= @patient['practice_name'] %>
  </td>
</tr>
