<h1>¡Feliz cumpleaños <%= @patient["firstname"] %>!</h1>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <%= image_tag "bday-muffin@2x.png", :width => 300 %>
        </td>
    </tr>
</table>

<p>
	Esperemos que hoy pases el mejor cumpleaños de tu vida, inclusive te "hemos hecho" este regalo azucarado. No olvides visitarnos de nuevo después de comer tanta azucar :)
</p>

<p>
	Esperamos verte pronto,<br />
	<%= @patient['practice_name'] %>
</p>
