<%= @message_body %>

<p><small>This e-mail was sent because you are a patient at <%= @practice_name %><br />
If you don't want to receive these type emails anymore, you can always <%#= link_to "unsubscribe", patients_unsubscribe %> at any time</small></p>
