<%= @message_body %>

<p><small>Este correo fue enviado porque eres un paciente de <%= @practice_name %><br />
Si no deseas seguir recibiendo correos como este, siempre podrás <%#= link_to "darte de baja", patients_unsubscribe %> cuando quieras</small></p>
