<div class="card">
  <div class="card-body">    
    <h2 class="text-warning mb-3"><%= t("payments.error.title")%></h2>
    <p class="text-muted mb-4"><%= t("payments.error.message") %></p>
  </div>
</div>