<div class="row">
	<ul id="list-items" class="treatments">
		<% @treatments.each do |treatment| %>
			<%= render :partial => "patient_treatments/show", :locals => {:treatment => treatment, :patient => @patient, :doctors => @doctors} %>
		<% end %>
	</ul>
</div>

<div class="row">
	<% if !@all_treatments.empty? %>
		<%= render :partial => "/patient_treatments/new", :locals => {:treatments => @all_treatments, :doctors => @doctors} %>
	<% else %>
		<div class="alert-box warning">
			<%= t :practice_not_completely_setup %>
			<a href="" class="close">&times;</a>
		</div>
	<% end %>
</div>

<script>
	$(document).ready(function() {
		// Limit the notes
		$('#patient_treatment_notes').limit('500');
		
		// Listen for the click event of the headers
		$(".treatments > li > h2").live("click", function(){
			var drawer = $(this).parent().find('.drawer');
			
			if (drawer.css('display') == 'none'){
				// Show the drawer
				drawer.slideToggle();
			
				// Scroll to the drawer
				$('html, body').animate({scrollTop: drawer.offset().top}, 500);
			} else {
				// Show the drawer
				drawer.slideToggle();
			}
		});
	});	
</script>
