<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="46DH6TV6RVT6E">
<input type="image" src="https://www.sandbox.paypal.com/<%=I18n.locale.to_s%>/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.sandbox.paypal.com/<%=I18n.locale.to_s%>/i/scr/pixel.gif" width="1" height="1">
</form>
