<p>
	Hola <%= @user.firstname %>,
</p>
<p>
	Parace que has olvidado tu clave de acceso. Por favor utiliza el enlace a continuación para crear una nueva. <br />
	Si crees que no has iniciado este proceso, simplemente ignora este mensaje.
</p>
<p>
	<%= link_to "Crear nueva clave", @edit_password_reset_url %>
</p>
