<tr>
	<td class="content-block">
		<p>Hola <%= @user.firstname %>,</p>
	</td>
</tr>

<tr>
	<td class="content-block">
		<p>Parace que has olvidado tu clave de acceso. Por favor utiliza el enlace a continuación para crear una nueva.
		Si crees que no has iniciado este proceso, simplemente ignora este mensaje.</p>
	</td>
</tr>

<tr>
	<td class="content-block">
		<%= link_to "Crear nueva clave", @edit_password_reset_url, :"mc:disable-tracking" => true, :class => "btn-primary" %>
	</td>
</tr>
