body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f7f7f7;
	position: relative;
	margin: 0px;
	font-size: 14px;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5 {
	margin: 0;
	line-height: inherit;
	color: #29323d;

	small {
		margin-left: 15px;
		font-style: italic;
	}
}

input.search{
	background: image-url("lens.png") #fcfcfc no-repeat 95%;
	box-shadow: none;
	height: 25px;
	width: 220px;
	font-size: 13px;
	padding: 2px 6px;
	border:1px solid #d0dde9;
	margin: 0;
	border-radius: 2px;
	top: 11px;
}

.header{
	margin-bottom: 60px;
	h1, h2, h3, h4, h5 {
		float: left;
		margin-top: 5px;
	}
}

/* Custom navbar stuff */

/* search input */
.navbar-inverse {
	input.search {
		height: 27px;
		width: 180px;
		padding: 3px 6px;
		background: image-url("lens.png") #f3f3f3 no-repeat 95%;
		border: 1px solid #f3f3f3;
		position: relative;
		border-radius: 4px;
		top: 14px;	
		color: #666;
		font-size: 13px;
		// margin-right: 40px;
		-webkit-transition: all .3s linear;
	    -moz-transition: all .3s linear;
	    transition: all .3s linear;
	    &:focus {
			background-color: #fff;
			border: 0;
			color: #333;
		}
	}

}

#pad-wrapper {
	padding: 0px 50px;
	margin-top: 55px;
	h4 {
		color: #696d73;
		font-style: italic;
	}
}

.content {
	// min-width: 400px;
	// min-height: 620px;
	// margin-bottom: 100px;
	padding-bottom: 50px;
	overflow: hidden;
	position: relative;
	background: #fff;
	margin-left: 177px;
	border-left: 1px solid #dae3e9;
	border-bottom: 1px solid #dae3e9;
	box-shadow: -3px 3px 3px -2px #f1f1f3;
	border-radius: 0px 0px 0px 5px;

	-webkit-transition: margin-left .3s ease;
	-moz-transition: margin-left .3s ease;
	-o-transition: margin-left .3s ease;
	-ms-transition: margin-left .3s ease;
	transition: margin-left .3s ease;

	&.wide-content {
		margin-left: 0;
		border-radius: 0;
	}

}



/* responsive */
@media (max-width: 1020px) {
}

@media (max-width: 822px) {
	.navbar-inverse input.search {display: none;}
}
@media (max-width: 767px) {
	#main-stats .stat{
		width: 50%;
		float: left;
	}
}
