.masonry {
  width: 100%;
  margin: 2em auto;
}

.cols {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.masonry-box {
  width: 100%;
  display: inline-block;
  background: #FEFEFE;
  border: 1px solid #FAFAFA;
  box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);

  &.unstyled {
    border: none;
    background: transparent;
    box-shadow: none;
  }
  &.centered {
    text-align: center;
  }

  input.btn-flat {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .masonry {
    width: 100%;
    margin: 2em auto;
  }
  .cols {
    -moz-column-count: 1;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count: 1;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 1;
    column-gap: 3%;
    column-width: 30%;
  }
}
