.user-profile {
	.header {
		.avatar{
			float: left;
			margin-right: 25px;
			border: 2px solid #e9ecee;
			position: relative;
			top: 3px;
		}
		.name {
			font-weight: 600;
			margin: 20px 0 8px 0;
			line-height: 26px;
			margin-bottom: 10px;
			float: none;
		}
		span.area {
			color: #7d848c;
			font-style: italic;
			font-size: 14px;
		}
		a.btn-flat {
			margin-top: 18px;
		}
		a.delete-user {
			margin-left: 10px;
			font-size: 14px;
		}
	}
	h6 {
		font-weight: 600;
		font-size: 14px;
	}

	.profile {
		.profile-box {
			// border-top: 1px solid #dde2e9;
			// padding-top: 23px;
			width: 100%;
		}
		.section {
			margin-bottom: 80px;

			&.comment {
				margin-bottom: 100px;
				margin-top: 20px;
			}

			.comment sub {
				color: #bbb;
			}
		}
	}
}


/* responsive */

@media (max-width: 768px) {
	.user-profile {
		.profile {
			.profile-box{
				width: 100%;
			}
		}
		.header {
			a.btn-flat {
				margin: 0;
			}
			a.edit {
				margin-right: 10px;
			}
		}
	}
}

@media (max-width: 480px) {
	.btn-flat {
		text-align: center;
		width: 100%;
	}

	.header .btn-flat {
		margin-top: 20px !important;
		float: none;
	}

	.header {
		margin-bottom: 20px !important;
	}

}



