<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<style><!--
		        body {background: #808b9d;margin: 0;padding: 20px;}
		        p {padding:5px 0;}
		        a img {border: none;}
		        a {border: none;}
		        .body {background-color: #e6e6e6;}
		        td.content {padding: 22px 0 0 14px;text-align: left;}
		        .header {}
		        .header h1 {font-family: Georgia;font-size: 32px;font-weight: normal;color: #bfbfbf;display: inline;text-align: left;padding-left:22px;}
		        .content p {font-family: 'Lucida Grande';font-size: 12px;color: #333333;margin: 0 0 10px 0;text-align: left;}
		        .content p.first {margin-top: 10px;}
		        .content a {font-family: Georgia;font-size: 13px;color: #2679b9;font-style: italic;}
		        .content a.center {font-size: 12px;text-align: center;display: block;color: #999999;padding: 8px 0 12px 0;text-decoration: none;}
		        .content img.inline {border: 1px solid #dedede;padding: 4px;}
		        .content li {font-family: 'Lucida Grande';font-size: 12px;color: #333333;}
						p.footer {font-family: 'Lucida Grande';font-size: 10px;color: #FFF;text-align:center;padding: 0;}
						p.footer a {color: #FFF;}
		--></style>
  </head>
  <body>
		<p>
			&nbsp;
		</p>
		<table cellspacing="0" cellpadding="0" width="100%">
			<tbody>
				<% unless @no_logo %>
				<tr>
					<td align="center">
						<table cellspacing="0" cellpadding="0" width="600">
							<tbody>
								<tr>
									<td class="header" height="77" align="left">
										<table border="0" cellspacing="0" cellpadding="0" width="600">
											<tbody>
												<tr>
													<td>
														<img class="logo" title="Inicio" src="http://odontome.heroku.com/images/logofull.png" alt="Logo">
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<% end %>
				<tr>
					<td align="center">
						<table class="body" cellspacing="10" cellpadding="0" width="600">
							<tbody>
								<tr>
									<td class="content" align="center" valign="top">
										<%= yield %>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<% if @no_logo %>
      <p class="footer"><%=_('Sent by')%> <a href="http://odonto.me">Odonto.me</a></p>
		<% end %>
  </body>
</html>