<!doctype html>  
<html>
<head>
  <title><%= _("Odonto.me, beautiful dental practice management")%></title>
  <%= stylesheet_link_tag "application"%>
  <link rel="shortcut icon" href="/favicon.ico">  

</head>

<body id="simple_body">
	<div id="container">
		
		<div id="content">
			<%= yield %>
		</div>
		
	</div>
</body>
</html>