<tr>
	<td class="aligncenter content-block">
		<h2>Welcome to Odonto.me</h2>
	</td>
</tr>
<tr>
	<td class="aligncenter content-block">
		Thank you for signing up with Odonto.me! We're excited to help you run and grow your practice. Here's how you can get started.
	</td>
</tr>
<tr>
	<td class="aligncenter content-block">
		<a href="http://my.odonto.me/practice" class="btn-primary">Setup your practice</a>
	</td>
</tr>
<tr>
	<td class="content-block">

	</td>
</tr>
<tr>
	<td class="content-block">
		<h4>Have questions?</h4>
		<p>Visit our online <a href="http://vimeo.com/odontome">video gallery</a> anytime to get answers or contact us replying to this email.</p>
	</td>
</tr>
