
<p>
	Hello!
</p>

<p>
	Si ya no lo has hecho, puedes ir a <%= link_to "tu clínica", "http://my.odonto.me/practice" %> para empezar a configurar tu clínica.
</p>

<ul>
	<li>Puedes empezar con personalizando tu idioma o moneda preferida.</li>
	<li>Agregar usuarios (por ejemplo una asistente) o cambiar el nombre y apellido (inicialmente te hemos asignado "usuario administrador").</li>
	<li>Agregar los doctores que tratan a tus pacientes.</li>
</ul>

<p>
	Por favor nunca dudes en contactarnos si necesitas algo.
</p>

<p>
	Gracias por unirte a nosotros,<br />
	El equipo de Odonto.me
</p>



