<tr>
	<td class="content-block">
		<h2>Welcome to Odontome.</h2>
	</td>
</tr>

<tr>
	<td class="content-block">
		Thank you for signing up with Odonto.me! the smartest way to run your practice. To get started follow the link below:
	</td>
</tr>

<tr>
	<td class="content-block">
		<a href="https://my.odonto.me/practice" class="btn-primary">Setup your practice</a>
	</td>
</tr>
