<tr>
	<td class="content-block">
		<h2>Welcome to Odontome.</h2>
	</td>
</tr>

<tr>
	<td class="content-block">
		Thank you for signing up with Odonto.me! the smartest way to run your practice. To get started follow the link below:
	</td>
</tr>

<tr>
	<td class="content-block">
		<a href="http://my.odonto.me/practice" class="btn-primary">Setup your practice</a>
	</td>
</tr>

<tr>
	<td class="content-block">
		<h4>Have questions?</h4>
		<p>Visit our online <a href="http://vimeo.com/odontome">video gallery</a> anytime to get answers or contact us replying to this email.</p>
	</td>
</tr>
