<tr>
	<td class="content-block">
		<h2>Bienvenido a Odonto.me</h2>
	</td>
</tr>

<tr>
	<td class="content-block">
		Gracias por unirte a Odonto.me. Estamos muy emocionados de ayudarte a gestionar y crecer tu clínica. Presiona el elnace a continuación para empezar.
	</td>
</tr>

<tr>
	<td class="aligncenter content-block">
		<a href="http://my.odonto.me/practice" class="btn-primary">Configurar tu clínica</a>
	</td>
</tr>

<tr>
	<td class="content-block">
		<h4>¿Tiénes preguntas?</h4>
		<p>Vísita nuestra <a href="http://vimeo.com/odontome">galería de videos</a> en cualquier momento para obtener respuestas o simplemente escríbenos a este correo.</p>
	</td>
</tr>
