<tr>
	<td class="content-block">
		<h2>Bem-vindo ao Odontome</h2>
	</td>
</tr>

<tr>
	<td class="content-block">
		Obrigado por se inscrever no Odonto.me! A forma mais inteligente de administrar sua clínica. Para começar, siga o link abaixo:
	</td>
</tr>

<tr>
	<td class="content-block">
		<a href="https://my.odonto.me/practice" class="btn-primary">Configurar sua clínica</a>
	</td>
</tr>