
<p>
	Hello!
</p>

<p>
	If you haven't already, you can go to <%= link_to "http://my.odonto.me", "http://my.odonto.me" %> and login with your email address and password to start setting up <%= link_to "your practice", "http://my.odonto.me/practice" %>
</p>

<ul>
	<li>You can start by customizing your settings like preferred language and currency</li>
	<li>Add users that can access your account (say an assistant) or change your first and last name (you are initially named 'Administrator User').</li>
	<li>Add the doctors who will treat your patients.</li>
</ul>


<p>
	Please don't ever hesitate to contact us if you need anything.
</p>

<p>
	Thanks for signing up,<br />
	The Odonto.me team
</p>
